stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_HUB_USER: $DOCKER_HUB_USER
  DOCKER_HUB_TOKEN: $DOCKER_HUB_TOKEN
  IMAGE_NAME: moskowpsix/pay-service-frontend

# Build and push for PROD (main/master branch)
build-and-push-prod:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
  script:
    - docker build --build-arg BUILD_ENV=production -t $IMAGE_NAME:prod -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:prod
    - docker push $IMAGE_NAME:latest
  only:
    - main
    - master
    - tags

# Build and push for DEV (develop branch)
build-and-push-dev:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
  script:
    - docker build --build-arg BUILD_ENV=dev -t $IMAGE_NAME:dev .
    - docker push $IMAGE_NAME:dev
  only:
    - develop
